.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.adminContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.adminContainer h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.productCard {
    display: flex;
    flex-direction: column;
}
