body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftDivHeader {
    margin-left: 3rem;
}

.rightDivHeader {
    margin-right: 3rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.loginContainer h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.loginContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginContainer form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.loginContainer form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.error {
    color: red;
    margin-bottom: 1rem;
    visibility: hidden;
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
